.questionText{
    width: 40%;
} 
.singleRowRadio{
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: center;
}
.singleRowAll{
    display: flex;
}
.singleInputLabel{
    margin: 0 2em;
}
input:checked + .singleRadio{
    background-color: aqua;
}
input{
    display: none;
}
/* .singleRowRadio{} */