.pageHeader {
    background: var(--baseColor);
    align-self: center;
    display: flex;
    justify-content: center;
    border-radius: 1.5em;
    h1 {
        color: var(--textOnBaseColor);
        margin: .6em 0;
        // margin-top: .6em;
        vertical-align: middle;
        font-size: 2em;
        letter-spacing: .07em;
        // height: 100%;
    }
    p{
        color: var(--textOnBaseColor);
    }
}
.pageHeader :last-child{
    align-items: flex-end;
}


