.item2{
    display: flex;
    align-content: center;
    border-bottom: 1px solid;
    align-items: center;
    height: 2.3em;
}
.item2:last-child{
    border: none;
}
.item2 >*{
    display: inline-flex;
    align-items: center;
}
.itemgroup{
    font-family: UbuntuReg;
    display: grid;
    margin: 1em 2em;

}
.arrow>span:only-child{
    font-size: 2.5em;
    padding: 0;
    margin: 0;
    
}
.buttonGroup >
span{
    width: 1.2em;
    height: 1em;
}
.arrow{
    color: white;
    background-color: var(--textColor);
    border: none;
}